{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">Thoughts I share with my daughter.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Forever is not promised. </p>
        <p>I enjoy every moment with my daughter but how am I to share my thoughts with her if I don't save the in a way other than in my mind?</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}